<header>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-left">
                        <div class="logo">
                            <a href="/"><img style="width: 60px;" src="/images/cannabis.png" alt=""/></a>
                        </div>
                        <div class="menu">
                            <a class="toggleMenu" href="#"><img src="images/nav.png" alt="" /></a>
                            <ul class="nav" id="nav">
                                <li><a href="/">Tienda</a></li>
                                <!-- <li><a href="/">Nosotros</a></li> -->
                                <!-- <li><a href="/">Contacto</a></li> -->
                            <%if(!locals.estaLogueado){%>
                                <li><a href="/login">Ingresar</a></li>
                                <li><a href="/registro">Registrarse</a></li>
                            <%} else if(locals.rol == 1){%>
                                <li><a href="/productos">Crear producto</a></li>
                                <li><a href="/perfil">Hola <%=locals.usuarioLogueado.nombre%></a></li>
                                <li><a href="/logout">Salir</a></li>
                                <li><a href="/bolsa"><i class="fa fa-shopping-bag "></i></a></li>
                            <%}else {%>
                                <li><a href="/perfil">Hola <%=locals.usuarioLogueado.nombre%></a></li>
                                <li><a href="/logout">Salir</a></li>
                                <li><a href="/bolsa"><i class="fa fa-shopping-bag "></i></a></li>
                            <%}%>

                                <div class="clear"></div>
                            </ul>
                            <script type="text/javascript" src="js/responsive-nav.js"></script>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_right">
                        <div id="sb-search" class="sb-search">
                            <form>
                                <input class="sb-search-input"  placeholder="Buscar producto" type="search" name="search" id="search">
                                <!-- <input class="sb-search-submit" type="submit" value=""> -->
                                <span class="sb-icon-search"> </span>
                            </form>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>