<header>
    <div class="parte1">
        <img src="/images/logo.png" alt="" class="logo">
        <h1 class="nombre">Cannabis-mart</h1>
    </div>
    <div class="parte2">
        <nav class="nav1">
            <a href="https://www.facebook.com/perfil"><i class="fab fa-facebook" ></i></a>
            <a href="https://www.instagram.com/perfil"><i class="fab fa-instagram-square"></i></a>
            <a href="https://www.whatsapp.com/perfil"><i class="fab fa-whatsapp-square"></i></a>
        </nav>
        <nav class="nav1">
            <%if(!locals.estaLogueado){%>
                <a href="/login"><i class="fas fa-door-open"></i></a>
                <a href="/registro"><i class="fas fa-user-plus"></i></a>
            <%} else {%>
            <a href="/perfil" style="font-size: 25px; font-weight: bold;">hola <%=locals.usuarioLogueado.nombre%> <%=locals.usuarioLogueado.apellido%></a>
            <!-- <a href="/perfil"><img style="width: 70px;" src="/images/imagesUsuarios/<%=locals.usuarioLogueado.avatar%>"></a> -->
            <a href="/perfil"><i class="fas fa-user"></i></a>
            <a href="/logout"><i class="fas fa-times"></i></a>
            <%}%>
            <!-- <a href=""><i class="fas fa-search"></i></a>
            <a href=""><i class="fas fa-heart"></i></a>
            <a href=""><i class="fas fa-shopping-basket"></i></a> -->
        </nav>
    </div>
    <nav class="navpri">
        <STYLE>A {text-decoration: none;} </STYLE>
        <h5><a href="/">Nosotros</a></h5>
        <h5><a href="/">Contacto</a></h5>
        <h5><a href="/productos/">Productos</a></h5>
        <h5><a href="/productos/nuevoProducto">Nuevo producto</a></h4>
    </nav>
</header>