<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cannabis-Market</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
</head>
<body>
    <%- include('../partials/header') %>
        <div class="cuadro">
            <header class="tituloLogin">
                <h2>Editar producto</h2>
                <hr class="lineaTitulo">
            </header>
            <div class="cuadroFormulario">
                <section >
                    <div>
                        <a class="enlace" href="#">Ingresar datos a modificar</a>
                    </div>
                    <form action="#" ></form>
                        <p>Nombre del producto</p>
                        <input class="cajaDatos" type="text">
                        <p>Descripción</p>
                        <input class="cajaDatos" type="text">
                        <p>Precio</p>
                        <input class="cajaDatos" type="text">
                        <p>Imagen</p>
                        <input class="cajaDatos" type="file" name="archi">
                        <br>
                        <div class="boton">
                            <button>Modificar Producto</button>
                        </div>
                    </form>
                </section>
                <footer>
                </footer>
            </div>
        </div>
    <%- include('../partials/footer') %>
    </body>
</html>