<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %>
<body>
    <%- include('./partials/header.ejs')  %>
    <div class="features">
		<div class="container">
			<h3 class="m_3">Cannabis Market</h3><br><br>

            <div class="row">
                <div class="col-md-4 top_box">
					<div class="view">
                        <a href="/listarProductos/1">
                            <img src="images/imagesCannabis/cannabis_oral.jpg" class="img-responsive" alt=""/>
                            <!-- <div class="mask mask-1"> </div>
                            <div class="mask mask-2"> </div> -->
                            <div class="content">
                                <h2>ORALES</h2>
                            </div>
                        </a>
                    </div>
				</div>

                <div class="col-md-4 top_box">
					<div class="view">
                        <a href="/listarProductos/2">
                            <img src="images/imagesCannabis/cannabis_complemento_nutricional.jpg" class="img-responsive" alt=""/>
                            <div class="mask mask-1"> </div>
                            <div class="mask mask-2"> </div>
                            <div class="content">
                                <h2>COMPLEMENTOS NUTRICIONALES</h2>
                            </div>
                        </a>
                    </div>
				</div>

                <div class="col-md-4 top_box">
					<div class="view">
                        <a href="/listarProductos/3">
                            <img src="images/imagesCannabis/cannabis_esteticos.jpg" class="img-responsive" alt=""/>
                            <div class="mask mask-1"> </div>
                            <div class="mask mask-2"> </div>
                            <div class="content">
                                <h2>ESTÉTICOS</h2>
                            </div>
                        </a>
                    </div>
				</div>
            </div><br><br>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4 top_box">
					<div class="view">
                        <a href="/listarProductos/4">
                            <img src="images/imagesCannabis/cannabis_topicos.jpg" class="img-responsive" alt=""/>
                            <div class="mask mask-1"> </div>
                            <div class="mask mask-2"> </div>
                            <div class="content">
                                <h2>TÓPICOS</h2>
                            </div>
                        </a>
                    </div>
				</div>
                <div class="col-md-4 top_box">
					<div class="view">
                        <a href="/listarProductos/5">
                            <img src="images/imagesCannabis/cannabis_perros.jpg" class="img-responsive" alt=""/>
                            <!-- <div class="mask mask-1"> </div>
                            <div class="mask mask-2"> </div> -->
                            <div class="content">
                                <h2>ANIMALES</h2>
                            </div>
                        </a>
                    </div>
				</div>
                <div class="col-md-2"></div>
            </div>

		</div>
	</div>

    <%- include('./partials/footer.ejs')  %>
</body>
</html>