<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cannabis-mart</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script>
    var current = 0;
    var imagenes = new Array();
    $(document).ready(function() {
        var numImages = 6;
        if (numImages <= 3) {
            $('.right-arrow').css('display', 'none');
            $('.left-arrow').css('display', 'none');
        }
        $('.left-arrow').on('click',function() {
            if (current > 0) {
                current = current - 1;
            } else {
                current = numImages - 3;
            }
            $(".carrusel").animate({"left": -($('#product_'+current).position().left)}, 600);
            return false;
        });
        $('.left-arrow').on('hover', function() {
            $(this).css('opacity','0.5');
        }, function() {
            $(this).css('opacity','1');
        });
        $('.right-arrow').on('hover', function() {
            $(this).css('opacity','0.5');
        }, function() {
            $(this).css('opacity','1');
        });
        $('.right-arrow').on('click', function() {
            if (numImages > current + 3) {
                current = current+1;
            } else {
                current = 0;
            }
            $(".carrusel").animate({"left": -($('#product_'+current).position().left)}, 600);
            return false;
        });
        });
        </script>
</head>
<body>
    <header>
        <div class="parte1">
            <img src="/images/logo.png" alt="" class="logo">
            <h1 class="nombre">Cannabis-mart</h1>
        </div>
        <div class="parte2">
            <nav class="nav1">
                <a href="https://www.facebook.com/perfil"><i class="fab fa-facebook" ></i></a>
                <a href="https://www.instagram.com/perfil"><i class="fab fa-instagram-square"></i></a>
                <a href="https://www.whatsapp.com/perfil"><i class="fab fa-whatsapp-square"></i></a>
            </nav>
            <nav class="nav1">
                <a href="http://localhost:3000/cannabis-market/login"><i class="fas fa-sign-in-alt"></i></a>
                <a href=""><i class="fas fa-search"></i></a>
                <a href=""><i class="fas fa-heart"></i></a>
                <a href="http://localhost:3000/cannabis-market/carro-compra"><i class="fas fa-shopping-basket"></i></a>
            </nav>
        </div>
        <nav class="navpri">
            <STYLE>A {text-decoration: none;} </STYLE>
            <h4><a href="">Productos</a></h4>
            <h4><a href="">Nosotros</a></h4>
            <h4><a href="">Contacto</a></h4>
        </nav>
    </header>
    <main class="maincarru">
        <div id="carrusel">
            <a href="#" class="left-arrow"><i class="fas fa-chevron-circle-left" style="font-size: 130%;"></i></a>
            <a href="#" class="right-arrow"><i class="fas fa-chevron-circle-right" style="font-size: 130%;"></i></a>
            <div class="carrusel">
                <div class="product" id="product_0">
                    <img src="/images/aceite1.jpg" width="100%" height="60%" />
                    <h5>Aceite de cannabis a base de aceite de oliva</h5>
                    <p>165.00 $</p>
                </div>
                <div class="product" id="product_1">
                    <img src="/images/gel1.jpg" width="100%" height="60%" />
                    <h5>Gel para dolores musculares</h5>
                    <p>100.00 $</p>
                </div>
                <div class="product" id="product_2">
                    <img src="/images/pomada1.jpg" width="100%" height="60%" />
                    <h5>Pomada de cannabis y caléndula</h5>
                    <p>250.00 $</p>
                </div>
                <div class="product" id="product_3">
                    <img src="/images/jabon.jpg" width="100%" height="60%" />
                    <h5>Jabón en barra 100 gr</h5>
                    <p>200.00 $</p>
                </div>
                <div class="product" id="product_4">
                    <img src="/images/aceitecab.jpg" width="100%" height="60%" />
                    <h5>Aceite protector cabello</h5>
                    <p>500.00 $</p>
                </div>
                <div class="product" id="product_5">
                    <img src="/images/cremaciatri.jpg" width="100%" height="60%" />
                    <h5>Crema para cicatrices con cannabis</h5>
                    <p>65.00 $</p>
                </div>
                <div class="product" id="product_6">
                    <img src="/images/contorno.jpg" width="100%" height="60%" />
                    <h5>Contorno de ojos 360 con cannabis Nabbis 15gr.</h5>
                    <p>85.00 $</p>
                </div>
            </div>
        </div>
    </main>
    <div class="news">
        <h1>Newsletter</h1>
        <h6>Obtenga nuestras ultimas noticias y ofertas especiales</h6>
        <h4><i class="fas fa-envelope"></i><p><input type="email" name="mail" size="30"></p>
            <input type="submit" value="Enviar" style="box-shadow: 2px 2px 5px #aecd38; color: white; background-color: #1f6c41; border-radius: 8%;">
        </h4>
    </div>
    <footer class="pie">
        <div class="finleft">
            <div class="parte31">
                <img src="/images/logo.png" alt="" class="logofin">
                <h4 class="nombrefin">Cannabis-mart</h4>
            </div>
            <div class="info">
                <h6><i class="fas fa-envelope"></i>  Cannabis-mart@mail.com</h6>
                <h6><i class="fas fa-phone-square"></i>  (123)4567890</h6>
            </div>
        </div>
        <div class="fin">
            <div class="lisfin">
                <h4>Productos</h4>
                <h4>Nosotros</h4>
                <h4>Cuenta</h4>
            </div>
            <div class="footnav">
                <ul>
                    <h6>
                        <li><a href="">producto1</a></li>
                        <li><a href="">producto2</a></li>
                        <li><a href="">producto3</a></li>
                    </h6>
                </ul>
                <ul>
                    <h6>
                        <li><a href="">Envios</a></li>
                        <li><a href="">Aviso Legal</a></li>
                        <li><a href="">Terms y condiciones</a></li>
                    </h6>
                </ul>
                <ul>
                    <h6>
                        <li><a href="">Envios</a></li>
                        <li><a href="">Ordenes</a></li>
                        <li><a href="">Vouchers</a></li>
                        <li>><a href="">Pago Seguro</a></li>
                    </h6>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>