<footer class="pie">
    <div class="finleft">
        <div class="parte31">
            <img src="/images/logo.png" alt="" class="logofin">
            <h4 class="nombrefin">Cannabis-mart</h4>
        </div>
        <div class="info">
            <h6><i class="fas fa-envelope"></i>  Cannabis-mart@mail.com</h6>
            <h6><i class="fas fa-phone-square"></i>  (123)4567890</h6>
        </div>
    </div>
    <div class="fin">
        <div class="lisfin">
            <h4>Productos</h4>
            <h4>Nosotros</h4>
            <h4>Cuenta</h4>
        </div>
        <div class="footnav">
            <ul>
                <h6>
                    <li><a href="">producto1</a></li>
                    <li><a href="">producto2</a></li>
                    <li><a href="">producto3</a></li>
                </h6>
            </ul>
            <ul>
                <h6>
                    <li><a href="">Envios</a></li>
                    <li><a href="">Aviso Legal</a></li>
                    <li><a href="">Terms y condiciones</a></li>
                </h6>
            </ul>
            <ul>
                <h6>
                    <li><a href="">Envios</a></li>
                    <li><a href="">Ordenes</a></li>
                    <li><a href="">Vouchers</a></li>
                    <li>><a href="">Pago Seguro</a></li>
                </h6>
            </ul>
        </div>
    </div>
</footer>