<header>
    <div class="parte1">
        <img src="/images/logo.png" alt="" class="logo">
        <h1 class="nombre">Cannabis-mart</h1>
    </div>
    <div class="parte2">
        <nav class="nav1">
            <a href="https://www.facebook.com/perfil"><i class="fab fa-facebook" ></i></a>
            <a href="https://www.instagram.com/perfil"><i class="fab fa-instagram-square"></i></a>
            <a href="https://www.whatsapp.com/perfil"><i class="fab fa-whatsapp-square"></i></a>
        </nav>
        <nav class="nav1">
            <a href="http://localhost:3000/cannabis-market/login"><i class="fas fa-sign-in-alt"></i></a>
            <a href=""><i class="fas fa-search"></i></a>
            <a href=""><i class="fas fa-heart"></i></a>
            <a href="http://localhost:3000/cannabis-market/carro-compra"><i class="fas fa-shopping-basket"></i></a>
        </nav>
    </div>
    <nav class="navpri">
        <STYLE>A {text-decoration: none;} </STYLE>
        <h4><a href="">Productos</a></h4>
        <h4><a href="">Nosotros</a></h4>
        <h4><a href="">Contacto</a></h4>
    </nav>
</header>