<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Cannabis-Market</title>
</head>
<body >
    <div class="cuadro">
        <header class="tituloLogin">
            <h2>Crear una cuenta</h2>
            <hr class="lineaTitulo">
        </header>
        <div class="cuadroFormulario">
            <section >
                <div>
                    <a class="enlace" href="#">¿Ya tienes una cuenta? ¡Inicie sesión en su lugar!</a>
                </div>
                <form action="#" ></form>
                    <p>Nombre</p>
                    <input class="cajaDatos" type="text">
                    <p>Apellido</p>
                    <input class="cajaDatos" type="text">
                    <p>Correo electrónico</p>
                    <input class="cajaDatos" type="email">
                    <p>Contraseña</p>
                    <input class="cajaDatos" type="password">
                    <p>Fecha de nacimiento</p>
                    <input class="cajaDatos" type="date"><br>
                    <input type="checkbox"><span class="recordarme">Recibir ofertas de nuestros productos</span><br><br>
                    <input type="checkbox"><span class="recordarme">Suscribirse a nuetro boletin de noticias</span><br><br>
                    <div class="boton">
                        <a href="http://localhost:3000/cannabis-market"><button>Guardar</button></a>
                    </div>
                </form>
            </section>
            <footer>
            </footer>
        </div>
    </div>
</body>
</html>